@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-header{
  font-family: 'Rocher', sans-serif;
  background-image: url("../public/assets/background-start.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.app-header-content{
  border-radius: 2rem;
  padding: 10px 20px;
}

